<header id="top-header">

    <span class="siteName">
        <a href="/" title="Return to Home Page">CSE Motors</a>
    </span>

    <div id="tools">
        <a title="Click to log in" href="/account/login">MY ACCOUNT</a>
    </div>

</header>