<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
} %>

<div class="account-page">

    <form action="/account/register" method="post">

        <fieldset>
            <label for="classification_name">First Name<input type="text" name="classification_name" id="classification_name" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"></label>
        <fieldset>

        <button>Submit Classification</button>

    </form>

</div>