<% if (title) { %>
    <h1><%= title %></h1>
<% } %>

<%- messages() %>

<div class="account-page">

    <form method="post">

        <fieldset>
            <label for="classification_name">Classification name <span>The classification name should not have a space or any special characters</span><input type="text" name="classification_name" id="classification_name" required pattern="^[a-zA-Z0-9]+$"></label>
        </fieldset>

        <button>Submit Classification</button>

    </form>

</div>