<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
} %>

<%- messages() %>

<div class="management">
    <a href="add-classification.ejs">Add New Classification</a>
    <a href="add-inventory.ejs">Add new Inventory</a>
</div>