<!-- Assignment 3: Basic Error Handling -->

<main class="error-page"> 
    <% if (title) { %>
        <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

    <p><%= message %></p>

    <button onclick="location.href='/'">Return to Home Page</button>
</main>